* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe WP",
    Roboto, Ubuntu, Oxygen, Cantarell, "Fira Sans", "Helvetica Neue", Helvetica,
    "Lucida Grande", "Droid Sans", Tahoma, "Microsoft Sans Serif", sans-serif;
}

body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe WP",
    Roboto, Ubuntu, Oxygen, Cantarell, "Fira Sans", "Helvetica Neue", Helvetica,
    "Lucida Grande", "Droid Sans", Tahoma, "Microsoft Sans Serif", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

.header {
  background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.05) 0,
      rgba(36, 36, 36, 0.05) 100%
    ),
    linear-gradient(
      97deg,
      #ed3cca 0.49%,
      #df34d2 14.88%,
      #d02bd9 29.27%,
      #bf22e1 43.14%,
      #ae1ae8 57.02%,
      #9a10f0 70.89%,
      #8306f7 84.76%,
      #7c1af8 99.15%
    );
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.top_panel {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.item_panel {
  position: relative;
  margin-right: 24px;
  font-size: 15px;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.6);
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.logo_button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 auto;
  margin-right: 20px;
}

#logo {
  height: auto;
  width: 200px;
  border: 0;
  -webkit-user-drag: none;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 58px;
  background: 0 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  margin-left: 20px;
  transition: border-color 0.3s ease 0s, transform 0.3s ease;
  transform: scale(0.8);
  transform-origin: center;
}

.search_bar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_bar input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nav_icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;
  gap: 20px;
}

.add_container {
  display: flex;
  flex-direction: column;
}

.add_1,
.add_2 {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Обрезание изображений, выходящих за пределы блока */
  border-radius: 12px;
}

.add_1 {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.add_2 {
  margin: 20px 10px;
  margin-top: 5px;
}

.add_1 img,
.add_2 img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

/* Я решил использовать не Flex а grid, так как это будет выглядеть куда аккуратнее */
.shop {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Grid с автоматической установкой колонок */
  gap: 20px; /* Расстояние между карточками */
  grid-auto-rows: min-content; /* Минимальная высота для строк, равная контенту */
}

.shop_item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Размещение элементов в столбец внутри карточки */
}

.shop_item:hover {
  transform: translateY(-5px);
}

.shop_item img {
  width: 100%;
  max-width: 100%; /* Чтобы изображение не выходило за пределы блока */
  border-radius: 8px;
  margin-bottom: 10px;
}

.product_details {
  display: flex;
  flex-direction: column;
}

.price_container {
  display: flex;
  align-items: baseline; /* Выравнивание элементов по базовой линии */
}

.product_price {
  font-weight: bold;
  margin-right: 10px; /* Расстояние между ценой и старой ценой */
}

.old_price {
  color: #999; /* Цвет для старой цены */
  text-decoration: line-through; /* Зачёркивание для старой цены */
}

.product_name {
  overflow: hidden; /* Скрытие текста, который не помещается в блок */
  text-overflow: ellipsis; /* Отображение многоточия для обрезанного текста */
  display: -webkit-box; /* Определяем контейнер как flexbox контейнер */
  -webkit-line-clamp: 2; /* Количество строк, которые нужно показать */
  -webkit-box-orient: vertical; /* Поворот контейнера в вертикальное положение */
  white-space: normal; /* Предотвращение переноса текста на новую строку */
}

.product_price {
  font-size: 14px;
  margin-bottom: 5px;
}

.product_rating {
  font-size: 14px;
  margin-bottom: 10px; /* Отступ после рейтинга */
}

.star {
  font-size: 20px; /* Размер звезды */
  color: #ffc107; /* Цвет золотой звезды */
}

.add_to_cart {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px; /* Отступ над кнопкой */
  cursor: pointer;
  border-radius: 4px;
}

.add_to_cart:hover {
  background-color: #45a049;
}

.footer {
  background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.05) 0,
      rgba(36, 36, 36, 0.05) 100%
    ),
    linear-gradient(
      97deg,
      #ed3cca 0.49%,
      #df34d2 14.88%,
      #d02bd9 29.27%,
      #bf22e1 43.14%,
      #ae1ae8 57.02%,
      #9a10f0 70.89%,
      #8306f7 84.76%,
      #7c1af8 99.15%
    );
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer_panel {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.footer_item {
  position: relative;
  margin-right: 24px;
  font-size: 15px;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.footer_logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 auto;
  margin-right: 20px;
}

#footer_logo {
  height: auto;
  width: 200px;
  border: 0;
  -webkit-user-drag: none;
}
