* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe WP",
    Roboto, Ubuntu, Oxygen, Cantarell, "Fira Sans", "Helvetica Neue", Helvetica,
    "Lucida Grande", "Droid Sans", Tahoma, "Microsoft Sans Serif", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.05) 0,
      rgba(36, 36, 36, 0.05) 100%
    ),
    linear-gradient(
      97deg,
      #ed3cca 0.49%,
      #df34d2 14.88%,
      #d02bd9 29.27%,
      #bf22e1 43.14%,
      #ae1ae8 57.02%,
      #9a10f0 70.89%,
      #8306f7 84.76%,
      #7c1af8 99.15%
    );
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-sizing: border-box;
  max-width: inherit; /* Сделать ширину заголовка как у родителя */
  margin: 0 auto;
}

.header_menu,
.header_profile {
  cursor: pointer;
  border: solid;
  border-width: 1px;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.header_menu:hover,
.header_profile:hover {
  background-color: #7c1af8;
  color: white;
}

.menu,
.profile {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;

}


.menu_item {
  border: solid;
  border-width: 1px;
  font-size: large;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.menu_item:hover {
  background-color: #f0f0f0;
}

.ShowMenu {
  max-height: 500px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  margin-top: 60px;
}
#content_news, 
#content_products, 
#content_contacts,
#content_resourses,
#content_about,
#content_personal,
#content_log_out {
  display: none;
}
