* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe WP",
    Roboto, Ubuntu, Oxygen, Cantarell, "Fira Sans", "Helvetica Neue", Helvetica,
    "Lucida Grande", "Droid Sans", Tahoma, "Microsoft Sans Serif", sans-serif;
}

body {
  background-color: #f0f0f0;
  margin: 0;
  font-size: 16px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.05) 0,
      rgba(36, 36, 36, 0.05) 100%
    ),
    linear-gradient(
      97deg,
      #ed3cca 0.49%,
      #df34d2 14.88%,
      #d02bd9 29.27%,
      #bf22e1 43.14%,
      #ae1ae8 57.02%,
      #9a10f0 70.89%,
      #8306f7 84.76%,
      #7c1af8 99.15%
    );
  padding: 10px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.top_panel {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.item_panel {
  margin-right: 24px;
  font-size: 15px;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .header_bottom {
    flex-direction: column; /* Пример: изменение направления элементов для мобильных */
    /* Добавьте другие необходимые стили */
  }
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.logo_button {
  display: flex;
  align-items: center;
}

#logo {
  max-width: 200px;
  height: auto;
  border: 0;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  margin-left: 20px;
}

.burger img {
  max-width: 60%;
  height: auto;
}

.search_bar {
  flex: 1;
  margin: 0 10px;
}

.search_bar input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nav_icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_icons img {
  max-width: 10%;
  height: auto;
}
.add_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.add_container .add_1,
.add_container .add_2 {
  flex: 1 1 45%;
  max-width: 100%;
}

.add_container img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.shop {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.shop_item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop_item:hover {
  transform: translateY(-5px);
}

.shop_item img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product_details {
  display: flex;
  flex-direction: column;
}

.product_price {
  font-weight: bold;
  margin-right: 10px;
}

.old_price {
  color: #999;
  text-decoration: line-through;
}

.product_name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.product_rating {
  font-size: 14px;
  margin-bottom: 10px;
}

.star {
  font-size: 20px;
  color: #ffc107;
}

.add_to_cart {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.add_to_cart:hover {
  background-color: #45a049;
}

.footer {
  background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.05) 0,
      rgba(36, 36, 36, 0.05) 100%
      ),
      linear-gradient(
      95deg,
      #ed3cca 0.49%,
      #df34d2 14.88%,
      #d02bd9 29.27%,
      #bf22e1 43.14%,
      #ae1ae8 57.02%,
      #9a10f0 70.89%,
      #8306f7 84.76%,
      #7c1af8 99.15%
      );
      padding: 10px;
      margin-top: 20px;
      }
      
      .footer_top {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      }
      
      .footer_panel {
      display: flex;
      justify-content: flex-start;
      margin-left: 10px;
      }
      
      .footer_item {
      margin-right: 24px;
      font-size: 15px;
      list-style-type: none;
      color: rgba(255, 255, 255, 0.6);
      }
      
      .footer_bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      }
      
      .footer_logo {
      display: flex;
      align-items: center;
      }
      
      #footer_logo {
      max-width: 100px;
      height: auto;
      border: 0;
      }
